#verify {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#verify::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/login.jpg") no-repeat center/cover;
  opacity: 0.15;
  z-index: 0;
}

#verify .verify-container  > * {
  position: relative;
  z-index: 1;
}

@media (min-width: 720px) {
  #verify {
    flex-direction: row;
  }
  #verify::before {
    background: none;
  }
}

#verify .image-container {
  display: none;
}

@media (min-width: 900px) {
  #verify .image-container {
    display: block;
    width: 50vw;
    margin-top: 1rem;
  }
  #verify .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #verify .verify-wrapper {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#verify .verify-wrapper {
  background: linear-gradient(to bottom, #ffffff 0%, #87ceeb 50%);
  height: 100dvh;
}

@media (min-width: 720px) {
  #verify .verify-wrapper {
    background: linear-gradient(to right, #ffffff 0%, #87ceeb 100%);
  }
}

#verify header {
  position: absolute;
  top: 10px;
  left: 4.5vw;
}

#verify header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

#verify header a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

#verify header h1 span {
  color: var(--sub);
}

#verify .verify-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 2rem;
}

#verify h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.verify-container p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.verify-container .status {
  font-size: 0.8rem;
  margin-bottom: 10px;
}


#verify .otp-separator {
  align-self: center;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}


#verify .loading {
  color: grey;
}

#verify .success {
  color: green;
}

#verify .error {
  color: red;
}

#verify .otp-container {
  display: flex;
  align-items: center;
}

#verify input {
  width: 40px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
}

#verify input:focus {
  outline: none;
  border: 2px solid var(--sub);
}

#verify .error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
}

#verify .submit-button {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.85rem;
  background-color: var(--sub);
  color: var(--bg);
  border: none;
  border-radius: 24px;
  transition: all 0.3s ease;
}

#verify .submit-button:disabled {
  background-color: var(--sub);
  cursor: not-allowed;
  opacity: 0.5;
}

#verify .submit-button:hover:enabled {
  background: var(--main);
  transform: scale(1.05);
}

#verify .resend-button {
  margin-top: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  color: #007bff;
  font-weight: 500;
  border: none;
  font-size: 1.05rem;
  align-self: flex-end;
  text-decoration: underline;
}

#verify .resend-button:disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: none;
}
