/* File: /styles/PharmacyShop.css */
#pharmacy {
  background: rgba(242, 224, 233, 1);
  display: grid;
  place-items: center
}

#pharmacy .shop-header {
  align-items: center;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  max-width: 1000px;
}

#pharmacy .shop-all {
  color: var(--sub);
  font-size: 0.8rem;
  font-weight: bold;
  width: fit-content;
  white-space: nowrap;
}

#pharmacy .search-bar {
  position: relative;
  max-width: 50vw;
  margin: 0px auto;

}

#pharmacy .search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 7px 40px 7px 15px;
  border-radius: 5px;
  border: 2px solid var(--sub);
  font-size: 16px;
}

#pharmacy .search-bar input:focus {
  outline: none;
}

#pharmacy .search-bar input::placeholder {
  font-size: 0.8rem;
}

#pharmacy .search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--bg);
  font-size: 16px;
  pointer-events: none;
  background: var(--sub);
  padding: 11px 8px;
  border-radius: 0 5px 5px 0;
}

#pharmacy .cart-icon {
  text-align: center;
  font-size: 20px;
  color: var(--sub);
  display: block;
  border: none;
  margin-top: 10px;
  position: relative;
  background: transparent;
}

@media (min-width: 768px) {
#pharmacy  .shop-all {
    text-align : center;
  }
}

#pharmacy .cart-badge {
  position: absolute;
  top: -10px;
  left: 50%;
  padding-top: 1px;
  background: red;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

#pharmacy .product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  place-items: center;
}

@media (min-width: 700px) {
#pharmacy  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
#pharmacy  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

#pharmacy .product-card {
  background: var(--bg);
  padding: 35px 0;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

#pharmacy .product-image {
  width: 300px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

#pharmacy .product-price {
  font-weight: 400;
  margin: 20px 0;
  color: var(--text);
}

#pharmacy .add-btn:enabled {
  background-color: var(--sub);
  color: white;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 25px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

#pharmacy .add-btn:enabled:hover {
  background-color: var(--main);
  transform: scale(1.05);
}

#pharmacy .add-btn:disabled {
  opacity: 0.5;
  background-color: var(--sub);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: not-allowed;
  transition: none;
}


#pharmacy .container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  argin: auto;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: hidden;
}

#pharmacy .slide {
  position: relative;
  width: 100%;
  height: 100%;
  animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


#pharmacy .slide-back {
  animation: slideBack 0.4s ease forwards;
}

@keyframes slideBack {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}


#pharmacy .back-arrow {
  position: absolute;
  top: 30px;
  left: 35px;
  font-size: 24px;
  border: none;
  background: none;
  z-index: 10;
  color: var(--text);
}

#pharmacy .cart-page {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 1rem 1rem 1rem;
  background: var(--bg);
}

#pharmacy .cart-page >  h2 {
  text-align: center;
  margin-bottom: 20px;
  pa-top: 20px;
} 

#pharmacy .cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

#pharmacy .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: red;
}


#pharmacy .cart-item-details {
  position: relative;
}


#pharmacy .cart-item-image {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
}

#pharmacy .cart-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pharmacy .cart-item-details h4 {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 600;
}

#pharmacy .cart-item-price {
  font-size: 0.85rem;
  color: var(--text);
  opacity: 0.8;
}

#pharmacy .quantity-controls {
  margin: 10px 0;
  display: flex;
  gap: 15px;
  align-items: center;
}


#pharmacy .quantity-controls button:enabled {
  background-color: var(--sub);
  color: white;
  border: none;
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#pharmacy .quantity-controls button:enabled:hover {
  background-color: var(--main);
  transform: scale(1.05);
}

#pharmacy .quantity-controls button:disabled {
  opacity: 0.5;
  background-color: var(--sub);
  color: white;
  border: none;
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: not-allowed;
  transition: none;
}

#pharmacy .item-total {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--text);
}

#pharmacy .cart-summary {
  padding: 20px 0;
  float: right;
  margin: 50px 0;
}

#pharmacy .cart-summary h4 {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 20px 0;
  width: fit-content;
  opacity: 0.8;
  font-weight: 400;
}

#pharmacy .next-btn {
  margin-top: 15px;
  padding: 8px 20px;
  font-weight: bold;
}

#pharmacy .next-btn:enabled {
  width: 100%;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.85rem;
  background-color: var(--sub);
  color: var(--bg);
  border: none;
  border-radius: 24px;
  font-size: 0.9rem;
  margin-top: 2rem;
  transition: all 0.3s ease;
}

#pharmacy .next-btn:enabled:hover {
  background-color: var(--main);
  transform: scale(1.05);
}

#pharmacy .next-btn:disabled {
  opacity: 0.5;
  font-weight: bold;
  cursor: not-allowed;
  transition: none;
  width: 100%;
  padding: 0.85rem;
  background-color: var(--sub);
  color: var(--bg);
  border: none;
  border-radius: 24px;
  font-size: 0.9rem;
  margin-top: 2rem;
}

#pharmacy .delivery-form {
  max-width: 900px;
  padding-bottom: 2rem;
  isplay: grid;
  place-items: center;
}

#pharmacy .delivery-form h2 {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

#pharmacy .delivery-form h2 + p {
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 0.85rem;
}

#pharmacy .delivery-form h2 + p small {
  font-size: 0.65rem;
  color: red;
}

#pharmacy .delivery-form input[type="text"],
#pharmacy .delivery-form input[type="email"],
#pharmacy .delivery-form input[type="tel"] {
    width: 100%;
    padding: 0.8rem 2.5rem 0.8rem 1.2rem;
    border: 1px solid rgba(43, 43, 43, 0.25);
    border-radius: 8px;
    font-size: 0.8rem;
    margin: 10px 0;
    outline: none;
    background: var(--bg);
    color: var(--text);
}

#pharmacy .delivery-form input[type="text"]::placeholder,
#pharmacy .delivery-form input[type="email"]::placeholder,
#pharmacy .delivery-form input[type="tel"]::placeholder {
  color: var(--text);
  opacity: 0.8;
}

#pharmacy .delivery-form input:focus,
#pharmacy .delivery-form .dropdown-input:focus,
#pharmacy .delivery-form .dropdown-input:focus-visible {
  border: 2px solid var(--sub);
}

#pharmacy .delivery-form form small {
  color: red;
  font-size: 0.65rem;
  margin-top: -0.28rem;
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
  display: block;
}

@media (min-width: 720px) {
#pharmacy  .input-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

#pharmacy .dropdown-wrapper {
  position: relative;
  user-select: none;
  margin: 10px 0;
}

#pharmacy .dropdown-input {
  padding: 0.8rem 1.5rem 0.8rem 1.2rem;
  border: 1px solid rgba(43, 43, 43, 0.25);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: var(--text);
  opacity: 0.9;
  background: var(--bg);
  width: 100%;
}

#pharmacy .dropdown-input:focus {
  border: 1px solid var(--sub);
}

#pharmacy .dropdown-input .fa-chevron-down {
  transition: transform 0.3s ease;
}

#pharmacy .dropdown-input .rotate {
  transform: rotate(180deg);
}

#pharmacy .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s, pointer-events 0s linear 0.3s;
  z-index: 10;
}

#pharmacy .dropdown-menu.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s;
}

#pharmacy .dropdown-input.active {
  border: 2px solid var(--sub);
}

#pharmacy .dropdown-option {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  font-size: 0.78rem;
  border: none;
  transition: all 0.2s;
  font-size: 0.8rem;
  width: 100%;
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  opacity: 1;
}

#pharmacy .dropdown-option:hover {
  background: var(--main);
  color: var(--bg);
}


#pharmacy .circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#pharmacy .outer-circle {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid #81A5AF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pharmacy .inner-circle {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #81A5AF;
  border-radius: 50%;
}
#pharmacy .dropdown-option.active .inner-circle {
  background-color: #81A5AF;
  border-color: #81A5AF;
}

#pharmacy .remember-checkbox {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  margin: 1rem 0.5rem;
  font-size: 0.7rem;
}

#pharmacy .delivery-form  input[type="checkbox"] {
appearance: none;
width: 20px;
height: 20px;
border: 1px solid var(--text);
border-radius: 5px;
background-color: white;
cursor: pointer;
display: inline-block;
position: relative;
opacity: 0.65;
margin-right: 2px;
}

#pharmacy .delivery-form  input[type="checkbox"]:checked {
background-color: var(--sub);
border-color: var(--sub);
opacity: 1;
}

#pharmacy .delivery-form  input[type="checkbox"]:checked::after {
content: "\f00c";
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: white;
font-size: 14px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
opacity: 1;
}

#pharmacy .order-summary {
  background: #fff;
  padding: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

#pharmacy .order-items {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

#pharmacy .order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}


#pharmacy .order-total-line {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0;
}

#pharmacy .order-total-line.total {
  font-size: 1.1rem;
  margin-top: 1rem;
}

#pharmacy .delivery-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


@media (min-width: 720px) {
#pharmacy .delivery-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
}