@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  line-height: 1.5;
  font-size: 16px;
  background: var(--bg);
  scroll-behavior: smooth;
  color: var(--text);
}

:root {
  --main: #003049;
  --sub: #E11584;
  --bg: #F9F9F9;
  --text: #2B2B2B;
}

a,
button {
  cursor: none;
}

@media (hover: hover) and (pointer: fine) {
  a,
  button {
    cursor: pointer;
  }
}